.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0; /*прозрачность*/
    transform: translateY(70%); /*смещение по оси Y*/
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.site-main {
  padding-top: 24px;
  padding-bottom: 0;
}

.home .mars {
  background-image: url(../images/mars2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center -90px;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 100px 0;
}

.site-header {
  padding-top: 16px;
  padding-bottom: 0;
}

#menu-yakirne-menyu {
  list-style: none;
  display: flex;
}

#menu-yakirne-menyu li {
  padding-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
.site textarea {
  border: none;
  border-radius: 0.3rem !important;
  line-height: 1;
  padding: 8px;
  margin: 4px;
  font-size: 20px;
  max-width: 100%;
}

.wpcf7-form {
  display: flex;
  justify-content: center;
}

.wpcf7-form p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wpcf7-form p br {
  display: none;
}

.bbp-logged-in {
  display: flex;
  flex-direction: column;
}
.bbp-logged-in a {
  width: 160px;
}

.logout-link {
  text-align: center;
  border-radius: 0.3rem !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.logout-link:hover {
  color: #fff !important;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

.widget-area {
  margin-top: 0;
}

.eedee-gutenslider-next {
  margin-right: -108px;
}

.eedee-gutenslider-prev {
  margin-left: -108px;
}
